__pycache__/
*.py[cod]
*.sqlite3
.env
.env.*
instance/
.pytest_cache/
.coverage
htmlcov/
*.db
.DS_Store
.cache/
*.log
.vscode/
.idea/
.eggs/
dist/
build/
.eggs/
*.egg-info/
venv/
ENV/
.envrc
/.render/
/tmp/
